production = false
isAdmin = true

# Session key
SECRET_KEY = ""

# Feide
client_id = ""
client_secret = ""
REDIRECT_URI = ""
BASE_URL = ""

# Postgres
POSTGRES_USER = ""
POSTGRES_PASSWORD = ""
POSTGRES_HOST = ""
POSTGRES_DB = ""
DATABASE_PORT = 1234
DATABASE_URI = postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${DATABASE_PORT}/${POSTGRES_DB}

# To get into a enrollment on first load
UID = ""
EMAIL_USER = ""

NOTIFICATION_COOLDOWN_DAYS = 1
NOTIFICATION_LIMIT = 2

MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_FROM =
MAIL_PORT =
MAIL_SERVER =