pydantic
beanie
fastapi
uvicorn
jinja2
python-multipart
starlette
authlib
httpx
requests
itsdangerous
sqlalchemy
databases
psycopg2-binary
aiosqlite
asyncpg
alembic
fastapi_mail
typing-extensions
openai
datetime